<mat-card class="background-primary">
    <div class="img-section">
        <img  src="https://cdn.britannica.com/16/204716-050-8BB76BE8/Walmart-store-Mountain-View-California.jpg">
    </div>
   <mat-card-content align="center">
       <mat-card-title>
           <h1>{{store.name}}</h1>
        </mat-card-title>
    </mat-card-content>
    <mat-divider class="divider" color="white">
    </mat-divider>
    <mat-card-actions align="center">
        <a mat-icon-button  matTooltip="Info about the action">
            <mat-icon  class="mat-18">edit</mat-icon>
        </a>
        <a mat-icon-button  (click)="navigateToManagement()">
            <mat-icon class="mat-18" >info</mat-icon>
        </a>
        <a mat-icon-button >
            <mat-icon class="mat-18">delete</mat-icon>
        </a>
    </mat-card-actions>
</mat-card>