<div class="component-body">
            <div class="login-box">
                <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" class="avatar" alt="">
                <h1>YESPOS</h1>
                <div class="form-container" fxLayout="column wrap" fxLayoutAlign="center stretch">
                    <form *ngIf="IsDone" [formGroup]="loginForm" (ngSubmit)="login()" fxLayout="column wrap" fxLayoutGap="30px">
                        <div class="input-group">
                            <p>Username</p>
                            <input formControlName="username" type="text" name="username" placeholder="Enter username" autocomplete="off">
                            <div *ngIf="loginForm.get('username').hasError('required') &&  loginForm.get('username').touched" class="invalid-input">
                                <p>Invalid username*</p>
                            </div>
                        </div>
                        <div class="input-group">
                            <p>Password</p>
                            <input formControlName="password" type="password" name="password" placeholder="Enter Password">
                            <div *ngIf="loginForm.get('password').hasError('minlength') || loginForm.get('password').hasError('required') &&  loginForm.get('password').touched" class="invalid-input">
                                <p>Invalid password*</p>
                            </div>
                        </div>
                        <input [disabled]="loginForm.invalid" type="submit" value="Login">
                        <button mat-raised-button  class="google-button">
                            <i class="fa fa-google" aria-hidden="true"></i>
                            Login with google
                        </button>
                    </form>
                    <div  *ngIf="!IsDone" fxLayout="row wrap" fxLayoutAlign="center stretch"  class="spinner-area">
                     <mat-spinner></mat-spinner>
                    </div>
                </div>
            </div>
</div>


