<mat-toolbar>
   <span class="trailing">
       <h1>Company Name</h1>
   </span>
   <div class="nav-spacer"></div>
   <span fxLayout="row wrap" fxLayoutGap="30px">
       <span fxLayout="row wrap" fxLayoutGap="10px">
        <button mat-icon-button >
            <mat-icon class="mat-18" matBadge="15" matBadgeColor="primary">message</mat-icon>
        </button>
           <button mat-icon-button >
               <mat-icon class="mat-18" matBadge="15" matBadgeColor="warn">notifications</mat-icon>
           </button>
       </span>
       <button mat-icon-button >
        <mat-icon class="mat-18">portrait</mat-icon>
    </button>
   </span>
</mat-toolbar>