<mat-toolbar>
    <span>Store Profile</span>
</mat-toolbar>

<div class="body" fxLayout="row" fxFlexAlign="center">
    <div class="body-content">
        <div class="sub-menu">
            <span class="action-buttons">
                <button mat-flat-button color="primary">Edit</button>
                <button mat-flat-button color="warn">Save</button>
            </span>
        </div>
        <mat-card>
            <div class="example-container">
                <form action="">
                    <mat-form-field appearance="fill">
                        <mat-label>Input</mat-label>
                        <input matInput>
                      </mat-form-field>
                      <br>
                      <mat-form-field appearance="fill">
                        <mat-label>Textarea</mat-label>
                        <textarea matInput></textarea>
                      </mat-form-field>
                </form>
              </div>
        </mat-card>
    </div>
</div>