.container {
    height: 100%;
}

.example-container {
    flex-grow : 1;
  }

  .drawer-content {
      width: 15%;
      background-color: #1A2226;
      color:white;
  }

  .store-details {
      height: 200px;
  }

  .store-details img {
      height: 100%;
      width: 100%;
      filter: brightness(40%); 

  }

  .store-info {
      margin-top: 50px;
      margin-left: 20px;
      position: absolute;
      float: inline-end;
      font-size: 24px;
  }

  mat-nav-list {
      background-color: #222D32;
  }

  mat-nav-list a {
      color:white;
  }

 mat-accordion, mat-expansion-panel {
     color: white;
     background-color: transparent !important;
 }

 .mat-expansion-indicator::after {
     color: white;
     background-color: black;
 }